@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.video-progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove o estilo padrão do WebKit */
  appearance: none;
  width: 16px; /* Largura da bolinha */
  height: 16px; /* Altura da bolinha */
  background: #ffffff; /* Cor da bolinha (branca) */
  border-radius: 50%; /* Deixa a bolinha redonda */
  cursor: pointer;
  margin-top: -7px; /* Centraliza a bolinha verticalmente na trilha de 1px de altura */
}

.video-progress-bar::-moz-range-thumb {
  width: 16px; /* Largura da bolinha */
  height: 16px; /* Altura da bolinha */
  background: #ffffff; /* Cor da bolinha (branca) */
  border-radius: 50%; /* Deixa a bolinha redonda */
  cursor: pointer;
  border: none; /* Remove a borda padrão do Firefox */
}